header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    background: #8B8989;
    color: white;
    padding: 10px;
    z-index: 1;
    height: 80px;
}

header ul{
    display: flex;
    gap: 20px;
}

header ul li{
    list-style-type: none;
}

header li a{
    text-decoration: none;
    color: white;
    padding: 5px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 20px;
    transition: all .2s ease-in-out;
}

header li a:hover{
    background: #ffbb33;
    color: black;
}
